
body {
    background: rgb(51, 50, 50);
    color: rgb(214, 176, 255);
}
.title {
    display: flex;
}
img {
    max-width:  20%;
    max-height: 20%;
    border-radius: 150px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
/* li {
    height: fit-content;
    width: fit-content;
} */
