* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    --darkvio: rgb(48, 0, 66);
    color: var(--darkvio);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    font-family: sans-serif;
    line-height: 1.5;
    background: rgb(255, 255, 119);
    /* font-size: 35px; */
}
.container {
    min-width: 600px;
    max-width: 1440px;
    margin: 0 auto;
    
}
.nav-list {
    width: 100%;
    list-style: none;
    background: rgb(203, 102, 228);
    }
ul.nav-list {
    display: flex;
    justify-content: space-between;
}
ul.nav-list li {
    padding: 10px;
    font-size: 30px;
    text-transform: uppercase;
}
.nav-link {
    padding: 0 auto;
    text-decoration: none;
    color: var(--darkvio);
    transition: .6s;
}
.nav-link:hover {
    background: rgb(253, 113, 160);
}
.nav-link:visited {
    color: var(--darkvio);
}
.header-section, .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}
header {
    padding: 0 5%;
}
.section {
    width: 50%;
    padding: 0 50px;
}
section.project {
    width: 100%;
}
img.my-photo {
    max-width:   300px;
    max-height: 300px;
    border-radius: 150px;
}
.greeting {
    width: 50%;
    margin: 0 auto;
    padding-right: 100px;
    text-align: right;
    font-size: 40px;
    font-weight: 300;
}
span {
    font-weight: 800;
}
.contact {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: rgb(203, 102, 228);
    
}
.contact-item {
    width: 33%;
    align-items: center;
    list-style: none;
    font-size: 25px;

}
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
footer img {
    height: 60px;
    width: 60px;
}
img.logo {
    width: 200px;
}

h1 {
    letter-spacing: 2px;
}